body {
    margin: 0;
    font-family: 'Public Sans', sans-serif;
    color: hsl(233, 26%, 24%);
}
/*header*/
.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2% 5%;
    align-items: center;
    z-index: 2;
    position: relative;
    background: white;
}
button {
    width: max-content;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5rem;
    color: white;
    background-image: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}
.header button {
    justify-self: end;
}
.header div{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}
/*Intro*/
.intro {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1% 5%;
    padding-right: 0;
    gap: 1rem;
    background-image: url(./images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: right;
    background-position-x: 150%;
}
h1 {
    font-size: 4rem;
    font-weight: 300;
    margin: 0;
}
.mockups {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
    justify-items: center;
    align-items: center;
    overflow: visible;
    overflow-x: clip;
}
.mockup-img {
    position: absolute;
    width: 35%;
}
.img1 {
    transform: translateX(-75%);
    animation: mockupAnimation 1s linear;
}
.img2 {
    transform: translate(35%, -50%);
    z-index: 0;
    animation: mockupAnimation 1s linear;
}
.img3 {
    transform: translate(35%, 50%);
    z-index: 2;
    animation: mockupAnimation 1s linear;
}
.img4 {
    transform: translateX(145%);
    animation: mockupAnimation 1s linear;
}
@keyframes mockupAnimation {
    from {
        transform: translate(0, 0);
    }
}
.intro-data {
    padding: 10rem 8rem 10rem 0;
    display: grid;
    gap: 2rem;
}
.easybank {
    position: relative;
    z-index: 0;
    background-color: white;
    padding: 5%;
    padding-right: 50%;
    background-color: hsl(220, 16%, 96%);
}
h2 {
    font-size: 3rem;
    font-weight: 300;
}
.features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: hsl(220, 16%, 96%);
    padding: 5%;
    gap: 1rem;
}
h4 {
    font-weight: 400;
    font-size: 1.5rem;
}
.articles {
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    background-color: hsl(0, 0%, 98%);
}
h3 {
    font-weight: 300;
    font-size: 2rem;
    grid-column: 1/5;
}
.articles img {
    max-width: 100%;
}
.article {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    border-radius: 1rem;
}
.article span {
    font-size: 0.75rem;
}
h5 {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0.5rem 0;
}
.article-data{
    padding: 0 1rem 1rem;
}
.currency {
    background: url(./images/image-currency.jpg);
}
.restaurant {
    background: url(./images/image-restaurant.jpg);
}
.plane {
    background: url(./images/image-plane.jpg);
}
.confetti {
    background: url(./images/image-confetti.jpg);
}
.article-img {
    height: 15rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.footer {
    background-color: hsl(233, 26%, 24%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 5%;
    color: white;
}
.icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 75%;
    gap: 1rem;
}
.icons :first-child{
    grid-column: 1/6;
    filter: brightness(0) saturate(100%) invert(94%) sepia(0%) saturate(7499%) hue-rotate(56deg) brightness(113%) contrast(100%);
    width: 75%;
}
.icons img {
    max-width: 100%;
}
.footer-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.request{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: end;
    grid-column: 5/6;
    gap: 1rem;
}